.idea/
2.jpg
TARA.txt
__pycache__/
backupyakuboshka.txt
car.py
car_module.py
cherep.py
desktop.ini
electroCar.py
example2.py
file.zip
fileinput
my_car.py
name.json
numbs.json
nums.json
primer.py
replace.py
requirement.txt
santa.png
test1.py
test2
text3.py
user.json
venv/
yakuboshka93.txt

